@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #171717;
}
html.dark {
  --bg: #171717;
  --text: #ffffff;
}
body {
  background-color: var(--bg);
  color: var(--text);
}